apiVersion: v1
kind: ServiceAccount
metadata:
  name: kubecrsh
  namespace: kubecrsh
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: kubecrsh
  namespace: kubecrsh
rules:
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get", "list", "watch"]
- apiGroups: [""]
  resources: ["pods/log"]
  verbs: ["get"]
- apiGroups: [""]
  resources: ["events"]
  verbs: ["get", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: kubecrsh
  namespace: kubecrsh
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: kubecrsh
subjects:
- kind: ServiceAccount
  name: kubecrsh
  namespace: kubecrsh
