apiVersion: v1
kind: Secret
metadata:
  name: kubecrsh-secrets
  namespace: kubecrsh
type: Opaque
stringData:
  slack-webhook: "https://hooks.slack.com/services/YOUR/WEBHOOK/URL"
  webhook-url: ""
  webhook-token: ""
  telegram-token: ""
  telegram-chat-id: ""
