apiVersion: v1
kind: Service
metadata:
  name: kubecrsh
  namespace: kubecrsh
  labels:
    app: kubecrsh
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: kubecrsh
